{% extends "basic/page_skeleton.html" %}
{% load static %}
<!DOCTYPE html>
<!-- <html> -->
    <!-- <head> -->
        <!-- <meta charset="utf-8"> -->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        {% block title %}CB | {{ title }}{% endblock %}
        {% block css %}
        {% include 'basic/comp_css.html' %}
        {% endblock %}
    <!-- </head> -->
    <!-- <body> -->
        <!-- <div id="wrapper"> -->
            <!-- panel-left -->
            {% block panel-left %}
            {% include 'basic/comp_panel_left.html' %}
            {% endblock %}
            <!-- end panel-left -->
            <!-- <div id="page-wrapper" class="gray-bg dashbard-1"> -->
                <!-- row-top -->
                {% block row-top %}
                {% include 'basic/comp_row_top.html' %}
                {% endblock %}
                <!-- end row-top -->
                <!-- row-mid -->
                {% block row-mid %}
                {% include 'basic/comp_row_mid.html' %}
                {% endblock %}
                <!-- end row-mid -->
                <!-- row-content -->
                {% block row-content %}
                {% include 'basic/comp_row_content.html' %}
                {% endblock %}
                <!-- end row-content -->
                <!-- row-footer -->
                {% block row-footer %}
                {% include 'basic/comp_row_footer.html' %}
                {% endblock %}
                <!-- end row-footer -->
            <!-- </div> -->
            <!-- sidebar-right -->
            {% block sidebar-right %}
            {% endblock %}
            <!-- end sidebar-right -->
        <!-- </div> -->
        <!-- script-js -->
        {% block script-js %}
        {% include 'scripts/script_js.html' %}
        {% endblock %}
        <!-- end script-js -->
    <!-- </body> -->
<!-- </html> -->
