        {% load static %}
        <!-- Mainly scripts -->
        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
        <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
        <!-- Data table javascript -->
        <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>
        <script src="{% static 'js/plugins/dataTables/dataTables.bootstrap4.min.js' %}"></script>
        <!-- Custom and plugin javascript -->
        <script src="{% static 'js/inspinia.js' %}"></script>
        <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
        <!-- Page-Level Scripts -->
        <script>
            $(document).ready(function () {
                $('.dataTables-example').DataTable({
                    pageLength: 10,
                    responsive: true,
                    dom: '<"html5buttons"B>lTfgitp',
                    buttons: [{
                            extend: 'copy'
                        },
                        {
                            extend: 'csv'
                        },
                        {
                            extend: 'excel',
                            title: 'ExampleFile'
                        },
                        {
                            extend: 'pdf',
                            title: 'ExampleFile'
                        },
                        {
                            extend: 'print',
                            customize: function (win) {
                                $(win.document.body).addClass('white-bg');
                                $(win.document.body).css('font-size', '10px');
                                $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
                            }
                        }
                    ]
                });
            });
        </script>
