{% extends "basic/page_skeleton.html" %}
{% load static %}
<!DOCTYPE html>
<!-- <html> -->
    <!-- <head> -->
        <!-- <meta charset="utf-8"> -->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        {% block title %}{{ title }}{% endblock %}
        {% block css %}
        {% include 'netinfo/comp_css_sites_detail.html' %}
        {% endblock %}
    <!-- </head> -->
    <!-- <body> -->
        <!-- <div id="wrapper"> -->
            <!-- panel-left -->
            {% block panel-left %}
            {% include 'basic/comp_panel_left.html' %}
            {% endblock %}
            <!-- end panel-left -->
            <!-- <div id="page-wrapper" class="gray-bg dashbard-1"> -->
                <!-- row-top -->
                {% block row-top %}
                {% include 'basic/comp_row_top.html' %}
                {% endblock %}
                <!-- end row-top -->
                <!-- row-mid -->
                {% block row-mid %}
                {% include 'basic/comp_row_mid.html' %}
                {% endblock %}
                <!-- end row-mid -->
                <!-- row-content -->
                {% block row-content %}
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-6">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li><a class="nav-link active" data-toggle="tab" href="#tab-site">Basic Info</a></li>
                                    <li><a class="nav-link" data-toggle="tab" href="#tab-contact">Contacts</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" id="tab-site" class="tab-pane active">
                                        <div class="panel-body">
                                            <div class="ibox ">
                                                <div class="ibox-title">
                                                    <h5>{{ site_data.type }} {{ site_data.name }}</h5>
                                                    <div class="ibox-tools">
                                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-wrench"></i></a>
                                                        <ul class="dropdown-menu dropdown-user">
                                                            <li><a href="edit" class="dropdown-item">Edit</a></li>
                                                            <li><a href="delete" class="dropdown-item">Delete</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="ibox-content">
                                                    <table class="table table-hover">
                                                        <tr>
                                                            <th>Name</th>
                                                            <td>{{ site_data.name }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Type</th>
                                                            <td>{{ site_data.type }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Location</th>
                                                            <td>{{ site_data.location }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>City</th>
                                                            <td>{{ site_data.city }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Description</th>
                                                            <td>{{ site_data.description }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>IP Address</th>
                                                            <td>{{ site_data.ip_address }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Site Code</th>
                                                            <td>{{ site_data.add_field1 }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Area Code</th>
                                                            <td>{{ site_data.add_field2 }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Tagline</th>
                                                            <td>{{ site_data.tagline }}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" id="tab-contact" class="tab-pane">
                                        <div class="panel-body">
                                            <div class="ibox ">
                                                <div class="ibox-title">
                                                    <h5>{{ site_data.type }} {{ site_data.name }}</h5>
                                                    <div class="ibox-tools">
                                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-wrench"></i></a>
                                                        <ul class="dropdown-menu dropdown-user">
                                                            <li><a href="edit" class="dropdown-item">Edit</a></li>
                                                            <li><a href="delete" class="dropdown-item">Delete</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="ibox-content">
                                                    {% if contacts_data %}
                                                    <table class="table table-hover">
                                                        {% for contact in contact_data %}
                                                        <tr>
                                                            <th style="width: 30%">{{ contact.type|title }}</th>
                                                            <td>{{ contact.contact_number }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </table>
                                                    {% else %}
                                                    <div class="alert alert-info" role="alert">No contact information.</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock %}
                <!-- end row-content -->
                <!-- row-footer -->
                {% block row-footer %}
                {% include 'basic/comp_row_footer.html' %}
                {% endblock %}
                <!-- end row-footer -->
            <!-- </div> -->
            <!-- sidebar-right -->
            {% block sidebar-right %}
            {% endblock %}
            <!-- end sidebar-right -->
        <!-- </div> -->
        <!-- script-js -->
        {% block script-js %}
        {% include 'scripts/script_js_sites_detail.html' %}
        {% endblock %}
        <!-- end script-js -->
    <!-- </body> -->
<!-- </html> -->
