                {% load static %}
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-10">
                        <h2>{{ title }}</h2>
                        {% if bcitems %}
                        <ol class="breadcrumb">
                            {% for bclink, bclabel in bcitems %}
                            {% if forloop.last %}
                            <li class="breadcrumb-item active"><strong>{{ bclabel }}</strong></li>
                            {% else %}
                            <li class="breadcrumb-item"><a href="{{ bclink }}">{{ bclabel }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ol>
                        {% endif %}
                    </div>
                    <div class="col-lg-2"></div>
                </div>
