            {% load static %}
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <img alt="image" class="rounded-circle" src="{% static 'img/profile_small.jpg' %}"/>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="block m-t-xs font-bold">{{ user.first_name }} {{ user.last_name }}</span>
                                    <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                                </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                                    <li><a class="dropdown-item" href="contacts.html">Contacts</a></li>
                                    <li><a class="dropdown-item" href="mailbox.html">Mailbox</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                </ul>
                            </div>
                            <div class="logo-element">CB</div>
                        </li>
                        <li>
                            <a href="{% url 'home' %}"><i class="fa fa-th-large"></i><span class="nav-label">Home</span></a>
                        </li>
                        <li><hr class="m-0"/></li>
                        <li>
                            <a class="btn disabled text-left" href="#"><span class="nav-label">Network Info</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-building"></i> <span class="nav-label">Sites</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url 'sites' %}">All Sites</a></li>
                                <li><a href="graph_morris.html">Add Site</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Links</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="mailbox.html">All Links</a></li>
                                <li><a href="mail_detail.html">Add Link</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Devices</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="contacts.html">All Devices</a></li>
                                <li><a href="profile.html">Routers</a></li>
                                <li><a href="profile_2.html">Switches</a></li>
                                <li><a href="contacts_2.html">Add Device</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Add Data</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="search_results.html">Add Site</a></li>
                                <li><a href="lockscreen.html">Add Link</a></li>
                                <li><a href="invoice.html">Add Device</a></li>
                            </ul>
                        </li>
                        <li><hr class="m-0"/></li>
                        <li>
                            <a class="btn disabled text-left" href="#"><span class="nav-label">SLA</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Trouble</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="contacts.html">All Devices</a></li>
                                <li><a href="profile.html">Routers</a></li>
                                <li><a href="profile_2.html">Switches</a></li>
                                <li><a href="contacts_2.html">Add Device</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
